@{
    ViewBag.Title = "Home Page";
}

<div class="d-flex justify-content-center flex-column my-5 text-center">
    <h1 class="fw-bold my-3">
        Distinguiti dalla concorrenza e raggiungi la vetta del successo.
    </h1>
    <h2 class="my-3">
        La prima Inbound Marketing Agency in Italia <br />
        dedicata esclusivamente alle strutture ricettive di montagna.
    </h2>
</div>