@{
    ViewBag.Title = "Home Page";
}

<div class="d-flex justify-content-center flex-column my-5 text-center">
    <h1 class="fw-bold my-3">
        Distinguiti dalla concorrenza e raggiungi la vetta del successo.
    </h1>
    <h2 class="my-3">
        La prima Inbound Marketing Agency in Italia <br />
        dedicata esclusivamente alle strutture ricettive di montagna.
    </h2>
</div>

<div id="servizi" class="d-flex justify-content-center flex-column my-5 text-center">
    <div>
        <h2 class="fw-bold text-decoration-underline">Brand Identity & Logo Design</h2>
        <p class="my-3">
            La brand identity è l’identità del brand ovvero il risultato di numerosi elementi che devono rappresentare
            ciò che il brand intende comunicare ai consumatori.<br />
            Il seguito della brand identity è la brand image che consiste nell’identità percepita dai consumatori, cioè
            quello che il cliente pensa di te quando sente nominare il tuo nome.
        </p>
        <p class="my-3">
            La brand identity tra le tante cose è basata sull'immagine dell'attività e quindi il nome, il logo, i colori, i
            font del vostro brand.
        </p>
        <p class="my-3">
            I servizi che offre EdelweissBeDifferent sono appunto i seguenti:
        </p>
        <ul class="servlist">
            <li>
                Un'attenta analisi della tua attività a 360° dove cercheremo di capire chi sei e cosa vuoi trasmettere
                ma soprattutto a chi ti vuoi rivolgere.
            </li>
            <li>
                Definizione delle caratteristiche visive del tuo brand, tra cui, la palette colori, i font, il tone of voice, il
                nome e il logo.

            </li>
        </ul>
    </div>
</div>