@{
    ViewBag.Title = "Home Page";
}

<div class="d-flex justify-content-center flex-column my-5 text-center">
    <h1 class="fw-bold my-3">
        Distinguiti dalla concorrenza e raggiungi la vetta del successo.
    </h1>
    <h2 class="my-3">
        La prima Inbound Marketing Agency in Italia <br />
        dedicata esclusivamente alle strutture ricettive di montagna.
    </h2>
    <img src="~/Content/Assets/Img/montagna.png" class="montagna img-fluid" alt="montagna" />
    <h2 class="my-3">
        Perchè scegliere l'Inbound Marketing?
    </h2>
    <p class="my-3">
        Iniziamo analizzando la differenza tra inbound ed outbound marketing.<br />
        <span>L'inbound marketing</span> è rappresentato da qualsiasi strategia che punta a guadagnare l’interesse e la fiducia del cliente
        prima di promuovere (chiamato anche marketing della permissione).<br /> E' contraddistinto dai seguenti punti:
    </p>
    <ul class="servlist fw-bold">
        <li>
            COMUNICAZIONE INTERATTIVA
        </li>
        <li>
            LE PERSONE RAGGIUNGONO L’AZIENDA
        </li>
        <li>
            PORTA VALORE
        </li>
        <li>
            EDUCA ED INTRATTIENE
        </li>
    </ul>
    <p class="my-3 fst-italic">
        Esempi: Post sui social media, video, depliant, SEO, sito web ecc.
    </p>

    <h2 class="my-3">
        Perchè <span>non</span> scegliere l'Outbound Marketing?
    </h2>
    <p class="my-3">
        <span>L'outbound marketing</span> è rappresentato invece da qualsiasi promozione rivolta aggressivamente a sconosciuti
        (chiamato anche marketing dell’interruzione).<br /> E' contraddistinto dai seguenti punti:
    </p>
    <ul class="servlist fw-bold">
        <li>
            COMUNICAZIONE UNIDIREZIONALE
        </li>
        <li>
            LE PERSONE VENGONO PERSEGUITATE
        </li>
        <li>
            NON PORTA VALORE
        </li>
        <li>
            NON EDUCA NE INTRATTIENE
        </li>
    </ul>
    <p class="my-3 fst-italic">
        Esempi: Spam, mail list, pop-up, chiamate call center, banner, spot video tv e radio.
    </p>
    <p class="my-3">
        Ovviamente l'inbound marketing è un modo di fare marketing <span>innovativo</span>, moderno e anche quello che porta più <span>risultati</span>. <br /> Riassumendo possiamo dire
        che fare inbound marketing significa <span>attrarre il consumatore</span> e non andarci a caccia come si è fatto nel tempo attraverso il marketing
        dell'interruzione,<br /> bensì fare in modo che siano i consumatori a <span>venire da noi grazie ai contenuti</span>.<br />
    </p>
    <p class="my-3">
        <span>Il content marketing è l’arma segreta del inbound marketing</span>.<br />

        Sono i <span>contenuti ben strutturati</span> che seguono precise strategie che <span>attraggono</span> il consumatore.<br />

        Inutile dire che ogni settore ha bisogno di competenze e <span>conoscenze di content marketing specifiche</span> per far si che l'inbound marketing funzioni.
    </p>
    <p class="my-3 fst-italic">
        Noi di Edelweiss siamo specializzati nel content marketing del settore ricettivo in montagna e quindi possiamo offrire un piano di inbound
        marketing<br /> che rivoluzionerà l'immagine della tua struttura e di contraddistinguerà dalla concorrenza.
    </p>

</div>

<div id="servizi" class="d-flex justify-content-center flex-column my-5 text-center">

    <div class="sage my-5 servizio">
        <h2 class="fw-bold text-decoration-underline">Brand Identity & Logo Design</h2>
        <p class="my-3">
            La brand identity è <span>l’identità del brand</span> ovvero il risultato di numerosi elementi che devono rappresentare
            <span>ciò che il brand intende comunicare</span> ai consumatori.<br />
            Il seguito della brand identity è la <span>brand image</span> che consiste nell’<span>identità percepita</span> dai consumatori, cioè
            quello che il cliente pensa di te quando sente nominare il tuo nome.
        </p>
        <p class="my-3">
            La brand identity tra le tante cose è basata sull'<span>immagine dell'attività</span> e quindi il <span>nome</span>, il <span>logo</span>, i <span>colori</span>, i
            <span>font</span> del vostro brand.
        </p>
        <p class="my-3">
            I servizi che offre EdelweissBeDifferent sono appunto i seguenti:
        </p>
        <ul class="servlist">
            <li>
                Un'attenta <span>analisi</span> della tua attività a 360° dove cercheremo di capire <span>chi sei</span> e <span>cosa vuoi trasmettere</span>
                ma soprattutto <span>a chi ti vuoi rivolgere</span>.
            </li>
            <li>
                Definizione delle <span>caratteristiche visive del tuo brand</span>, tra cui, la palette colori, i font, il tone of voice, il
                nome e il logo.
            </li>
        </ul>
    </div>

    <div class="sage my-5 servizio">
        <h2 class="fw-bold text-decoration-underline">Photo & Video</h2>
        <p class="my-3">
            Le <span>immagini</span> ed i <span>video</span> sono il cuore della comunicazione digitale 4.0!<br />
            Spesso si possono avere grandi idee e grandi valori ma soprattutto ottimi prodotti, ma se non vengono
            fatte fotografie e video <span>professionali</span>,<br /> difficilmente riuscirai a <span>trasmettere la vera bellezza</span> di ciò che hai
            da vendere.
        </p>
        <p class="my-3">
            Sui social ormai la <span>comunicazione visiva</span> è il <span>70%</span> di un contenuto digitale.
        </p>
        <p class="my-3">
            Ovviamente tutti siamo capaci di scattare una foto o di fare un video di 20 secondi ma non tutti
            sappiamo cosa fotografare, cosa riprendere e soprattutto dove pubblicare tutto questo!
        </p>
        <p class="my-3">
            A supporto di tutte le altre attività che svolgiamo, Edelweiss mette a disposizione anche un <span>
                servizio di
                fotografia e realizzazione di brevi video della tua struttura
            </span>,<br /> sia interna che esterna.
            Soprattutto ci piace immortalare quello che fai, i tuoi migliori servizi ed i tuoi collaboratori!
        </p>
        <p class="my-3">
            <span>
                Solo così i clienti percepiranno a pieno la realtà in cui si stanno per immergere entrando della tua
                struttura
            </span>.
        </p>
    </div>

    <div class="sage my-5 servizio">
        <h2 class="fw-bold text-decoration-underline">Social Media Management</h2>
        <p class="my-3">
            Se usati nel modo corretto i social media possono <span>diventare la tua fortuna</span>.<br />
            E' uno dei metodi con il quale al giorno d'oggi puoi avere i <span>risultati migliori</span> in assoluto in termini di
            <span>lead generation</span> e di <span>vendite</span>.
        </p>
        <p class="my-3">
            Sicuramente tutti hanno un profilo social, ma nel 99% dei casi, i brand hanno un
            <span>profilo social fatto talmente male che sarebbe meglio non averlo</span>.
        </p>
        <p class="my-3">
            Per questo Edelweiss mette a disposizione il <span>servizio di Social Media Management</span> attraverso il quale ti
            aiuterà a scegliere la miglior piattaforma per la tua attività ma non solo:
        </p>
        <ul class="servlist">
            <li>
                <span>Creeremo</span> o <span>ristruttureremo</span> i tuoi <span>social</span> ideali.
            </li>
            <li>
                Fisseremo degli <span>obbiettivi personalizzati</span> in base al <span>funnel marketing</span>.
            </li>
            <li>
                Pianificheremo un <span>calendario editoriale</span> e un <span>mix di contenuti</span> da pubblicare sui diversi canali.
            </li>
            <li>
                Creeremo e gestiremo campagne di <span>sponsorizzazione</span> social.
            </li>
            <li>
                Ti aiuteremo a <span>pubblicare</span> ogni genere di contenuto.
            </li>
        </ul>
    </div>

    <div class="sage my-5 servizio">
        <h2 class="fw-bold text-decoration-underline">Content Creation</h2>
        <p class="my-3">
            <span>La creazione di contenuti non vale solo per il web o social</span>.
        </p>
        <p class="my-3">
            Tutto ciò che ci serve per arrivare a <span>generare una connessione con il nostro tager</span> ha bisogno di un
            contenuto.<br />
            Un ebook è un contenuto testuale, un video di presentazione è un contenuto video, un post instagram è
            un contenuto immagine ma anche testo,<br /> un depliant illustrativo è un contenuto testo ed immagine.

        </p>
        <p class="my-3">
            Chiunque può creare contenuti per qualsiasi cosa ma <span>
                solo chi conosce il marketing e soprattutto il
                settore di riferimento può realizzare contenuti strategici
            </span>.
        </p>
        <p class="my-3">
            <span>Analisi, obiettivi, strategia, studio, produzione, elaborazione e alla fine aggregazione di tutti i fattori</span>.
        </p>
        <p class="my-3">
            Questi sono i processi che si devono seguire per realizzare dei <span>contenuti validi e di qualità</span><br /> che
            trasformeranno tutto quello che realizzi per i tuoi clienti in una <span>calamita verso la tua azienda</span>.
        </p>
    </div>

    <div class="sage my-5 servizio">
        <h2 class="fw-bold text-decoration-underline">Copywriting</h2>
        <p class="my-3">
            E' vero chiunque può scrivere, ci insegnano fin dalla scuola materna a farlo.<br />
            C'è chi ha una calligrafia migliore di altri e chi prendeva sempre 9 nei temi di italiano.<br />
            Ma il copywriting si distacca da tutto questo.<br />
            <span>Saper scrivere non significa necessariamente essere un copywriter</span>.
        </p>
        <p class="my-3">
            Ci sono tecniche e trucchi di copywriting che trasformano anche poche righe di testo in una trappola di <span>persuasione</span>,
            che cattura il cliente e lo introduce in un tunnel di emozioni<br /> e di percezioni tali da <span>spingerlo a fare quello che noi vogliamo</span>,
            ovvero, <span>vendergli il nostro servizio o prodotto</span>.

        </p>
        <p class="my-3">
            Allora? Ti abbiamo convinto sul fatto che le caption dei tuoi post o il tuo depliant informativo è meglio se lo lasci
            scrivere a noi?
        </p>
    </div>

    <div class="sage my-5 servizio">
        <h2 class="fw-bold text-decoration-underline">Email/sms marketing</h2>
        <p class="my-3">
            Se per qualsiasi motivo <span>un potenziale cliente ti lascia un suo contatto</span>, hai tra le mani un diamante grezzo.<br /> Tu sai
            lavorare un diamante grezzo? Noi si!
        </p>
        <p class="my-3">
            Avere l'email o il numero di telefono di un potenziale cliente interessato ai nostri servizi ci da l'opportunità,
            di <span>metterci in contatto con lui</span>.
        </p>
        <p class="my-3">
            Certo se sbagliamo l'approccio rischiamo di finire nella sua black list per sempre e di rovinarci l'immagine e la
            percezione che lui ha di noi.
        </p>
        <p class="my-3">
            Noi sappiamo come <span>trasformare un semplice contatto in una vera opportunità</span>, attraverso
            <span>strategie di email e sms marketing</span><br /> trasformeremo ogni indirizzo di posta e numero di telefono, in fatturato!
        </p>
        <p class="my-3">
            Cosa ne dici di provare con i tuoi contatti?
        </p>
    </div>

    <div class="sage my-5 servizio">
        <h2 class="fw-bold text-decoration-underline">Grafiche materiale pubblicitario</h2>
        <p class="my-3">
            <span>Non tutti hanno i social media o utilizzano internet per le loro ricerche!</span>
        </p>
        <p class="my-3">
            Proprio per questo devi puntare anche sul <span>marketing offline</span>, sempre!
        </p>
        <p class="my-3">
            In ogni caso chi non apprezza un bel listino prezzi, un bel biglietto da visita o un bel adesivo personalizzato?
        </p>
        <p class="my-3">
            Lo apprezzerai tu ma lo apprezzerà ancora di più il cliente che <span>percepirà il valore del lavoro</span> che vi è dietro le quinte in
            merito alla realizzazione di quei prodotti pubblicitari.
        </p>
        <p class="my-3">
            In che senso ne percepirà il valore, vi starete chiedento...Beh, di sicuro non vi dirà "ottimo lavoro, chi è la tua agenzia di
            marketing?" oppure "wow che font avete usato per questo titolo?",
            ma se dopo aver letto il vostro depliant informativo vi chiederà "scusa posso avere più informazioni sul tuo prodotto o
            servizio perchè lo trovo molto interessante.",<br /> li <span>capirai che l'obiettivo è stato raggiunto</span>.
        </p>
        <p class="my-3">
            <span>Una buona idea, se affidata alle persone giste può trasformarsi in fatturato, sempre!</span>
        </p>
    </div>

</div>
<script type="text/javascript">
    $(document).redy(function () {
        $("li").click(function () {
            $("li").removeClass("currentnavli");
            $("li").addClass("currentnavli");
        });
    });
</script>
@*<script type="text/javascript">
    $(document).redy(function () {
        $("li.homeli").click(function () {
            alert()
        })
        })
    </script>*@