@{
    ViewBag.Title = "Home Page";
}

<div class="d-flex justify-content-center flex-column my-5 text-center">
    <h1 class="fw-bold my-3">
        Distinguiti dalla concorrenza e raggiungi la vetta del successo.
    </h1>
    <h2 class="my-3">
        La prima Inbound Marketing Agency in Italia <br />
        dedicata esclusivamente alle strutture ricettive di montagna.
    </h2>
</div>

<div id="servizi" class="d-flex justify-content-center flex-column my-5 text-center">

    <div class="sage my-5 servizio">
        <h2 class="fw-bold text-decoration-underline">Brand Identity & Logo Design</h2>
        <p class="my-3">
            La brand identity è l’identità del brand ovvero il risultato di numerosi elementi che devono rappresentare
            ciò che il brand intende comunicare ai consumatori.<br />
            Il seguito della brand identity è la brand image che consiste nell’identità percepita dai consumatori, cioè
            quello che il cliente pensa di te quando sente nominare il tuo nome.
        </p>
        <p class="my-3">
            La brand identity tra le tante cose è basata sull'immagine dell'attività e quindi il nome, il logo, i colori, i
            font del vostro brand.
        </p>
        <p class="my-3">
            I servizi che offre EdelweissBeDifferent sono appunto i seguenti:
        </p>
        <ul class="servlist">
            <li>
                Un'attenta analisi della tua attività a 360° dove cercheremo di capire chi sei e cosa vuoi trasmettere
                ma soprattutto a chi ti vuoi rivolgere.
            </li>
            <li>
                Definizione delle caratteristiche visive del tuo brand, tra cui, la palette colori, i font, il tone of voice, il
                nome e il logo.
            </li>
        </ul>
    </div>

    <div class="sage my-5 servizio">
        <h2 class="fw-bold text-decoration-underline">Photo & Video</h2>
        <p class="my-3">
            Le immagini ed i video sono il cuore della comunicazione digitale 4.0!
            Spesso si possono avere grandi idee e grandi valori ma soprattutto ottimi prodotti, ma se non vengono
            fatte fotografie e video professionali, difficilmente riuscirai a trasmettere la vera bellezza di ciò che hai
            da vendere..
        </p>
        <p class="my-3">
            Sui social ormai la comunicazione visiva è il 70% di un contenuto digitale.
        </p>
        <p class="my-3">
            Ovviamente tutti siamo capaci di scattare una foto o di fare un video di 20 secondi ma non tutti
            sappiamo cosa fotografare, cosa riprendere e soprattutto dove pubblicare tutto questo!
        </p>
        <p class="my-3">
            A supporto di tutte le altre attività che svolgiamo, Edelweiss mette a disposizione anche un servizio di
            fotografia e realizzazione di brevi video della tua struttura, sia interna che esterna.
            Soprattutto ci piace immortalare quello che fai, i tuoi migliori servizi ed i tuoi collaboratori!
        </p>
        <p class="my-3">
            Solo così i clienti percepiranno a pieno la realtà in cui si stanno per immergere entrando della tua
            struttura.
        </p>
    </div>

    <div class="sage my-5 servizio">
        <h2 class="fw-bold text-decoration-underline">Social Media Management</h2>
        <p class="my-3">
            Se usati nel modo corretto i social media possono diventare la tua fortuna.<br />
            E' uno dei metodi con il quale al giorno d'oggi puoi avere i risultati migliori in assoluto in termini di lead
            generation e di vendite.
        </p>
        <p class="my-3">
            Sicuramente tutti hanno un profilo social, ma nel 99% dei casi, i brand hanno un profilo social fatto
            talmente male che sarebbe meglio non averlo.
        </p>
        <p class="my-3">
            Per questo Edelweiss mette a disposizione il servizio di Social Media Management attraverso il quale ti
            aiuterà a scegliere la miglior piattaforma per la tua attività ma non solo:
        </p>
        <ul class="servlist">
            <li>
                Creeremo o ristruttureremo i tuoi social ideali.
            </li>
            <li>
                Fisseremo degli personalizzati obbiettivi in base al funnel marketing.
            </li>
            <li>
                Pianificheremo un calendario editoriale e un mix di contenuti da pubblicare sui diversi canali.
            </li>
            <li>
                Creeremo e gestiremo campagne di sponsorizzazione social.
            </li>
            <li>
                Ti aiuteremo a pubblicare ogni genere di contenuto.
            </li>
        </ul>
    </div>

    <div class="sage my-5 servizio">
        <h2 class="fw-bold text-decoration-underline">Content Creation</h2>
        <p class="my-3">
            La creazione di contenuti non vale solo per il web o social.
        </p>
        <p class="my-3">
            Tutto ciò che ci serve per arrivare a generare una connessione con il nostro tager ha bisogno di un
            contenuto.<br />
            Un ebook è un contenuto testuale, un video di presentazione è un contenuto video, un post instagram è
            un contenuto immagine ma anche testo, un depliant illustrativo è un contenuto testo ed immagine.

        </p>
        <p class="my-3">
            Chiunque può creare contenuti per qualsiasi cosa ma solo chi conosce il marketing e soprattutto il
            settore di riferimento può realizzare contenuti strategici.
        </p>
        <p class="my-3">
            Analisi, obiettivi, strategia, studio, produzione, elaborazione e alla fine aggregazione di tutti i fattori.
        </p>
        <p class="my-3">
            Questi sono i processi che si devono seguire per realizzare die contenuti validi e di qualità che
            trasformeranno tutto quello che realizzi per i tuoi clienti in una calamita verso la tua azienda.
        </p>
    </div>

    <div class="sage my-5 servizio">
        <h2 class="fw-bold text-decoration-underline">Copywriting</h2>
        <p class="my-3">
            E' vero chiunque può scrivere, ci insegnano fin dalla scuola materna a farlo.<br />
            C'è chi ha una calligrafia migliore di altri e chi prendeva sempre 9 nei temi di italiano.<br />
            Ma il copywriting si distacca da tutto questo.<br />
            Saper scrivere non significa necessariamente essere un copywriter.
        </p>
        <p class="my-3">
            Ci sono tecniche e trucchi di copywriting che trasformano anche poche righe di testo in una trappola di persuasione,
            che cattura il cliente e lo introduce in un tunnel di emozioni e di percezioni tali da spingerlo a fare quello che noi
            vogliamo, ovvero, vendergli il nostro servizio o prodotto.

        </p>
        <p class="my-3">
            Allora? Ti abbiamo convinto sul fatto che le caption dei tuoi post o il tuo depliant informativo è meglio se lo lasci
            scrivere a noi?
        </p>
    </div>

    <div class="sage my-5 servizio">
        <h2 class="fw-bold text-decoration-underline">Email/sms marketing</h2>
        <p class="my-3">
            Se per qualsiasi motivo un potenziale cliente ti lascia un suo contatto, hai tra le mani un diamante grezzo. Tu sai
            lavorare un diamante grezzo?
        </p>
        <p class="my-3">
            Noi si!
        </p>
        <p class="my-3">
            Avere l'email o il numero di telefono di un potenziale cliente interessato ai nostri servizi ci da l'opportunità, di metterci in
            contatto con lui.
        </p>
        <p class="my-3">
            Certo se sbagliamo l'approccio rischiamo di finire nella sua black list per sempre e di rovinarci l'immagine e la
            percezione che lui ha di noi.
        </p>
        <p class="my-3">
            Noi sappiamo come trasformare un semplice contatto in una vera opportunità, attraverso strategie di email e sms
            marketing trasformeremo ogni indirizzo di posta e numero di telefono, in fatturato!
        </p>
        <p class="my-3">
            Cosa ne dici di provare con i tuoi contatti?
        </p>
    </div>

    <div class="sage my-5 servizio">
        <h2 class="fw-bold text-decoration-underline">Grafiche materiale pubblicitario</h2>
        <p class="my-3">
            Non tutti hanno i social media o utilizzano internet per le loro ricerche!
        </p>
        <p class="my-3">
            Proprio per questo devi puntare anche sul marketing offline, sempre!
        </p>
        <p class="my-3">
            In ogni caso chi non apprezza un bel listino prezzi, un bel biglietto da visita o un bel adesivo personalizzato?
        </p>
        <p class="my-3">
            Lo apprezzerai tu ma lo apprezzerà ancora di più il cliente che percepirà il valore del lavoro che vi è dietro le quinte in
            merito alla realizzazione di quei prodotti pubblicitari.
        </p>
        <p class="my-3">
            In che senso ne percepirà il valore, vi starete chiedento...Beh, di sicuro non vi dirà "ottimo lavoro, chi è la tua agenzia di
            marketing?" oppure "wow che font avete usato per questo titolo?",
            ma se dopo aver letto il vostro depliant informativo vi chiederà "scusa posso avere più informazioni sul tuo prodotto o
            servizio perchè lo trovo molto interessante.", li capirai che l'obiettivo è stato raggiunto.
        </p>
        <p class="my-3">
            Una buona idea, se affidata alle persone giste può trasformarsi in fatturato, sempre!
        </p>
    </div>

</div>