
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">I nostri servizi</h2>

<div class="row my-5 d-flex justify-content-between">

    <div class="col-md-5 d-flex flex-column align-items-center serv">
        <h2>Brand Identity & Logo Design</h2>
        <div class="d-flex justify-content-center">
            <div>
                <p>
                    Studio e creazione di:
                </p>
                <ul>
                    <li>MISSION & VISION</li>
                    <li>TEMA AZIENDALE</li>
                    <li>NICCHIA DI RIFERIMENTO</li>
                    <li>LOGO</li>
                    <li>FONT</li>
                    <li>PALETTE COLORI</li>
                </ul>
            </div>
            <div class="d-flex align-items-center ms-5">
                <img src="~/Content/Assets/Img/identity.png" width="100" />
            </div>
        </div>
    </div>

    <div class="col-md-5 d-flex flex-column align-items-center serv">
        <h2>
            Photo & Video
        </h2>
        <div class="d-flex justify-content-center">
            <div>
                <p>
                    Per la creazione di contenuti social e/o di materiale
                    pubblicitario, realizzazione di foto e brevi video di:
                </p>
                <ul>
                    <li>
                        AMBIENTI ESTERNI/INTERNI
                    </li>
                    <li>
                        PERSONALE
                    </li>
                    <li>PRINCIPALI SERVIZI</li>
                </ul>
            </div>
            <div class="d-flex align-items-center ms-5">
                <img src="~/Content/Assets/Img/video.png" width="100" />
            </div>
        </div>
    </div>

</div>

<div class="row my-5 d-flex justify-content-between">

    <div class="col-md-5 d-flex flex-column align-items-center serv">
        <h2>Social Media Management (Ig+Fb)</h2>
        <div class="d-flex justify-content-center">
            <div>
                <ul>
                    <li>
                        Creazione o ristrutturazione pagine Instagram e Facebook
                        (Immagine profilo, descrizioni, storie in evidenza, orari,
                        collegamenti, impostazione del feed, impostazione della
                        mission).
                    </li>
                    <li>
                        Studio e programmazione del piano editoriale di pubblicazione.
                    </li>
                    <li>Analisi dei risultati prodotti dalle pubblicazioni.</li>
                    <li>
                        Pubblicazione post/storie/reels e relativa gestione di
                        commenti.
                    </li>
                    <li>Creazione e gestione campagne di sponsorizzazione.</li>
                </ul>
            </div>
            <div class="d-flex align-items-center ms-5">
                <img src="~/Content/Assets/Img/identity.png" width="100" />
            </div>
        </div>
    </div>

    <div class="col-md-5 d-flex flex-column align-items-center serv">
        <h2>
            Content Creation
        </h2>
        <div class="d-flex justify-content-center">
            <div>
                <p>
                    Studio e creazione di contenuti per i
                    social media (es. post/storie/reels Ig e Fb)
                    basandosi sulle linee guida definite in
                    precedenza attraverso la brand identity ed
                    applicando strategie di social media e
                    content marketing.
                </p>
            </div>
            <div class="d-flex align-items-center ms-5">
                <img src="~/Content/Assets/Img/video.png" width="100" />
            </div>
        </div>
    </div>

</div>
<div class="row my-5 d-flex justify-content-between">

    <div class="col-md-5 d-flex flex-column align-items-center serv">
        <h2>Copywriting</h2>
        <div class="d-flex justify-content-center">
            <div>
                <p>
                    Studio e creazione di testi da
                    incrementare nei contenuti multimediali,
                    nei post, nel materiale pubblicitario e
                    nell'
                    email marketing, in grado di
                    coinvolgere e di persuadere il cliente
                    finale.

                </p>
                <p>
                    E' una sezione inclusa nella fase di content
                    creation ma che può anche essere
                    utilizzata e richiesta individualmente.
                </p>
            </div>
            <div class="d-flex align-items-center ms-5">
                <img src="~/Content/Assets/Img/identity.png" width="100" />
            </div>
        </div>
    </div>

    <div class="col-md-5 d-flex flex-column align-items-center serv">
        <h2>
            Email/sms marketing
        </h2>
        <div class="d-flex justify-content-center">
            <div>
                <p>
                    Studio e creazione di mail o messaggi
                    pubblicitari o informativi volti a fidelizzare i
                    clienti oppure ad acquisirne di nuovi, il tutto
                    organizzato secondo strategie di social media
                    marketing, e completato con un copywriting
                    altamente persuasivo ed incisivo.
                </p>
            </div>
            <div class="d-flex align-items-center ms-5">
                <img src="~/Content/Assets/Img/video.png" width="100" />
            </div>
        </div>
    </div>

</div>
<div class="row my-5 d-flex justify-content-between">

    <div class="col-md-12 d-flex flex-column align-items-center serv">
        <h2>Grafiche materiale pubblicitario</h2>
        <div class="d-flex justify-content-center">
            <div>
                <p>
                    Studio e creazione di materiale pubblicitario e
                    informativo come locandine, depliant,
                    brouchures, flyer, biglietti da visita, adesivi,
                    listini prezzi, menù, cartellonistiche.
                </p>
            </div>
            <div class="d-flex align-items-center ms-5">
                <img src="~/Content/Assets/Img/identity.png" width="100" />
            </div>
        </div>
    </div>

</div>


