
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">I nostri servizi</h2>

<div class="row mt-4">

    <div class="col-md-6 d-flex flex-column align-items-center">
        <h2>Brand Identity & Logo Design</h2>
        <div class="d-flex justify-content-center">
            <div>
                <p>
                    Studio e creazione di:
                </p>
                <ul>
                    <li>MISSION & VISION</li>
                    <li>TEMA AZIENDALE</li>
                    <li>NICCHIA DI RIFERIMENTO</li>
                    <li>LOGO</li>
                    <li>FONT</li>
                    <li>PALETTE COLORI</li>
                </ul>
            </div>
            <div class="d-flex align-items-center ms-5">
                <img src="~/Content/Assets/Img/identity.png" width="100" />
            </div>
        </div>
    </div>

    <div class="col-md-6 d-flex flex-column align-items-center">
        <h2>Brand Identity & Logo Design</h2>
        <div class="d-flex justify-content-center">
            <div>
                <p>
                    Studio e creazione di:
                </p>
                <ul>
                    <li>MISSION & VISION</li>
                    <li>TEMA AZIENDALE</li>
                    <li>NICCHIA DI RIFERIMENTO</li>
                    <li>LOGO</li>
                    <li>FONT</li>
                    <li>PALETTE COLORI</li>
                </ul>
            </div>
            <div class="d-flex align-items-center ms-5">
                <img src="~/Content/Assets/Img/identity.png" width="100" />
            </div>
        </div>
    </div>

</div>

